h1 {
  font-style:normal;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: rgb(70, 240, 115);
}

.therePlaylist {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
}

.yourPlaylist {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
}

.playlist1 {
  font-size: 20px;
  margin-left: 50px;
  border-radius: 25px;
}

.playlist2 {
  font-size: 20px;
  margin-left: 43px;
  border-radius: 25px;
}

.loginButton {
  background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.loginButton:hover {
	background-color:#5cbf2a;
}
.loginButton:active {
	position:relative;
	top:1px;
}

.hide {
  display: none;
}

.hiddenButton {
  display: none;
}
